---
import Layout from "@/layouts/Layout.astro";
import BlogPost from "@/components/BlogPost.astro";
import { getCollection } from "astro:content";

const allPost = await getCollection("blog",({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
})

const sortedPosts = allPost.sort((a,b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<Layout>
  <section class="flex flex-col py-12">
    <div class="flex flex-col items-start text-left gap-6">
      <h1 class="text-5xl font-bold">Blog</h1>
      <p class="text-muted-foreground">投稿されている記事一覧 (全{sortedPosts.length}件)</p>
    </div>
  </section>
  <section class="flex flex-col py-12 border-t border-border-subtle">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
      {sortedPosts.map(post => (
        <BlogPost post={post} />
      ))}
    </div>
  </section>
</Layout>